<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="../resources/stylesheet.css" rel="stylesheet">
    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../resources/functions.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg justiy-content-between navbar-custom">
        <a class="navbar-brand" href="#"><img src="../resources/freedrop-logo.png" height="50" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#" style="t01">Upload<span class="sr-only">(current></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="navbar-text">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us<span class="sr-only">(current></span></a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-dark my-2 my-sm-0" type="login">Sign In</button>
            </form>
        </div>
    </nav>
    <br>

    <div class="container-fluid w-80">
        <div class="row">
            <div class="col-2">
                <!--Side Menu-->
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="card-link-custom" src="./upload.html">Upload a File</a></li>
                        <li class="list-group-item"><a class="card-link-custom" src="./download.html">Download a File</a>
                        </li>
                        <li class="list-group-item"><a class="card-link-custom" src="#">About FreeDrop</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-8">
                <!--Upload Main Form-->
                    <form>
                        <div class="form-group">
                            <label for="inputFileName"><h3>File Name:</h3></label>
                            <input type="text" class="form-control" id="inputFileName"
                                aria-describedby="fileNameHelp" placeholder="File Name">
                            <small id="fileUploadHelp" class="form-text text-muted">This name will help other find your file.</small>
                        </div>
                        <div class="form-group">
                            <input type="file" clas="form-control-file" id="local_image">
                        </div>
                        <div class="form-group">
                            <label for="inputFileDescription"><h6>Description:</h6></label>
                            <textarea class="form-control" id="inputFileDescription" rows="3" placeholder="Description of your file."></textarea>
                        </div>
                        <div class="form-group">
                            <label for="visibleDistanceSlider"><h6>Visible Distance</h6></label>
                            <input type="range" id="visibleDistanceSlider" class="custom-range" min="0" max="100" step="0.5" onclick="distanceSlid()">
                            <label for="visibleDistanceSlider" id="visibleDistanceLabel"><h5>1000 Feet</h5></label>
                        </div>
                    </form>
            </div>
        </div>
</body>

</html>