.navbar-custom {
    background-color: #e74c3c;
}

.nav-link {
    color : #ffffff;
    font-weight : bolder;
    font-size : large;
}

.card-link-custom {
    color : #000000;
    font-weight : bold;
}