.navbar-custom {
    background-color: #e74c3c;
}

.nav-link {
    color : #ffffff;
    font-weight : bolder;
    font-size : large;
}

.nav-link:hover {color : #343a40; }

.card-link-custom {
    color : #343a40;
    font-weight : bold;
}