<!DOCTYPE html>
<html lang="en">

<head>
    <title>400</title>

    {% include "header.html" %}
</head>

<body>
<nav class="navbar navbar-expand-lg justiy-content-between navbar-custom">
        <a class="navbar-brand" href="./about"><img src="{{ url_for('static', filename='freedrop-logo.png') }}" height="35" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="t01">Home<span class="sr-only">(current></span></a>
                </li>
            </ul>
            {% if signed_in %}
            <h2>Hello, {{ cur_user }}.</h2>
            {% endif %}
        </div>
    </nav>
    <br>
    <div class="container">
        <h1 class="mt-5">400</h1>
        <p class="lead">Bad request.</p>
        <p>Back to <a href="/">Home</a></p>
    </div>
</body>

</html>