<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    {% include "header.html" %}
</head>

<body>
    {% include "navbar.html"}
    <br>

    <div class="container-fluid w-80">
        <div class="row">
            <div class="col-2">
                <!--Side Menu-->
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a class="card-link-custom" href="#" src="#">Upload a File</a></li>
                        <li class="list-group-item"><a class="card-link-custom" href="#" src="#">Download a File</a>
                        </li>
                        <li class="list-group-item"><a class="card-link-custom" href="#" src="#">About FreeDrop</a></li>
                    </ul>
                </div>
            </div>
</body>

</html>