<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    {% include "header.html" %}
</head>

<body onload="on_load()">
    {% include "navbar.html" %}
    <br>

    <div class="container w-80 text-center">
        <img class="img-fluid.max-width=75%" src="{{ url_for('static', filename='freedrop-logo-white.svg') }}" alt="Free Drop">
        <h3>A revolution in the way files are shared. </h3>
        <h6>Ever since the beginning of file sharing software users have upload millions of files which are only important for a short period of time, and then needlessly occupy server spaces despite becomming irrelevant. Here at Free Drop we have set out to revolutionize the way we use file sharing systems by allowing users to limit their file distribution over a limited time frame and in a limited location. With this twist on file sharing Free Drop not only makes you sharing experience more efficient, easier, and more secure. Try Free Drop for free today!</h6>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col"><a class="btn-lg btn-danger" href="/">Search for Nearby Files</a></div>
            <div class="col"><a class="btn-lg btn-danger" href="/register">Register for Free Drop</a></div>
<!--            <div class="col"><a class="btn-lg btn-danger" href="#">Log In</a></div>-->
        </div>
        <br>
        <br>
        <br>
    </div>

    {% include "footer.html" %}
</body>

</html>