<div class="modal fade bd-inspect-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        style="display: none;" id="inspectModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myLargeModalLabel">File Name</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <h5> Uploaded by: username</h5>
                        </div>
                        <div class="col" align="right">
                            <form  method="POST">
                                <input class="btn btn-danger btn-sm ml-3" type="submit" name="12" value="Download">
                            </form>
                        </div>
                    </div>
                    <br>
                    <p>File Information:</p>
                    <label for="upload data"><span class="fas fa-upload"></span> Uploaded on: 02/03/2020</label> &nbsp
                    &nbsp &nbsp
                    <label for="upload data"><span class="fas fa-clock"></span> Available until: 02/010/2020</label>
                    &nbsp &nbsp &nbsp
                    <label for="likes"><span class="fas fa-heart"></span> 6527</label> &nbsp &nbsp &nbsp
                    <label for="downloads"><span class="fas fa-download"></span> 6527</label> &nbsp &nbsp &nbsp
                    <label for="distance"><span class="fas fa-people-arrows"></span> 1 mile</label> &nbsp &nbsp &nbsp
                    <embed src="../static/sample-photo.JPG" type="application/pdf" width="100%" height="600px" />
                </div>
            </div>
        </div>
    </div>