{% for fil in fils %}
<div class="modal fade bd-inspect-modal-{{fil.id}}-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        style="display: none;" id="inspectModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="myLargeModalLabel">{{fil.name}}</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="row justify-content-between">
                            <h5 class = "pl-3"> Uploaded by: {{fil.creator}}</h5>
                            <form class="form-inline pr-3" method="POST">
                                {% if fil.req_password %}
                                <input type="password" class="form-control" id="inputFileSearch" name='file_password'
                                    style="width:300px;" placeholder="This file requires a password.">
                                <input class="btn btn-warning ml-3" type="submit" name="{{fil.id}}" value="Decrypt and Download">
                                {% else %}
                                <input class="btn btn-danger ml-3" type="submit" name="{{fil.id}}" value="Download">
                                {% endif %}
                            </form>
                        </div>

<!--                        <div class="col">-->
<!--                            <h5> Uploaded by: {{fil.creator}}</h5>-->
<!--                        </div>-->
<!--                        <div class="col" align="right">-->
<!--                                <form  class="form-inline" method="POST">-->
<!--                                <input class="btn btn-danger btn-sm ml-3" type="submit" name="{{fil.id}}" value="Download">-->
<!--                                {% if fil.req_password %}-->
<!--                                <input type="password" class="form-control" id="inputFileSearch" name='file_password' style="width:500px;"-->
<!--                                aria-describedby="fileSearchHelp" placeholder="Password Required">-->
<!--                                {% endif %}-->
<!--                            </form>-->
<!--                        </div>-->
                    <br>
                    <!-- <p style="font-weight:bold;">File Information: {{fil.description}}</p> -->
                    <label for="upload data"><span class="fas fa-upload"></span> Uploaded on: {{fil.date}}</label> &nbsp
                    &nbsp &nbsp
                    <label for="upload data"><span class="fas fa-clock"></span> Available until: {{fil.death_date}}</label>
                    &nbsp &nbsp &nbsp
                    <label for="likes"><span class="fas fa-heart"></span> {{fil.num_likes}}</label> &nbsp &nbsp &nbsp
                    <label for="downloads"><span class="fas fa-download"></span> {{fil.downloads}} </label> &nbsp &nbsp &nbsp
                    <label for="distance"><span class="fas fa-people-arrows"></span> {{fil.dist}} </label> &nbsp &nbsp &nbsp
                    {% if fil.req_password %}
                         <img class="card-img-top" src="{{ url_for('static', filename='no_preview_available.jfif') }}">
                    {% else %}
                        {% if fil.format.lower() in "jpg jpeg gif png apng svg bmp bmp ico png ico"%}
                            <img class="card-img-top" src="{{ url_for('static', filename=fil.path) }}">
                        {% elif fil.format.lower() in "pdf" %}
                            <embed src="{{ url_for('static', filename=fil.path) }}" type="application/pdf" width="100%" height="600px" />
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}