<!DOCTYPE html>
<html lang="en">

<head>
    <title>Free Drop</title>
    {% include "header.html" %}
</head>
<!-- <style>
    body { background: #414141 !important; }
</style> -->

<body  onload="on_load()">
    {% include "./navbar.html" %}
    <br>

    <!-- A Side By Side Layout -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div id="map"></div>
                <!-- For the scripts associated with this, see the bottom of the file -->
            </div>
            <div class="col-7">
                <div class="row">
                    <form class="form-inline">
                        <div class="col" align="right">
                            <input type="text" class="form-control" id="inputFileSearch" style="width:500px;"
                                aria-describedby="fileSearchHelp" placeholder="Search by keyword, date, or location.">
                        </div>
                        <div class="col justify-content-center">
                            <button type="button" class="btn btn-danger float-right" href="#uploadModal"
                                data-toggle="modal" data-target=".bd-upload-modal-lg" onclick="openUploadModal()">Upload
                                a File</button>
                        </div>
                    </form>
                </div>

                <br>

                <div class="card-deck d-flex flex-column" style="margin-left:2px; margin-right:10px;">
                {% for i in range(0, fils |length , 2) %}
                    <div class="row">
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">{{fils[i].name}}</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-{{fils[i].id}}-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            {% if fils[i].req_password %}
                                                <p>Password Required</p>
                                            {% else %}
                                            <form  method="POST">
                                                <input class="btn btn-danger btn-sm ml-3" type="submit" name="{{fils[i].id}}" value="Download">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: {{fils[i].dist}} Feet </p>
                                <p style="font-weight:bold;">Format: {{fils[i].format}}</p>
                            {% if fils[i].description|length > 50 %}
                                <p> {{ fils[i].description[0:50] }}...</p>
                            {% else %}
                                <p>{{ fils[i].description }}</p>
                            {% endif %}
                            {% if fils[i].req_password %}
                                <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename='no_preview_available.jfif') }}">
                                </div>
                            {% elif fils[i].format.lower() in "jpg jpeg gif png apng svg bmp bmp ico png ico jfif"%}
                               <div align="center">
                                   <img class="card-img-top" src="{{ url_for('static', filename=fils[i].path) }}">
                                </div>
                             {% else %}
                                <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename='no_preview_available.jfif') }}">
                                </div>
                            {% endif %}
                            </div>
                        </div>
                        <!-- TODO: add in the check to hide if is not not an even number of cards -->
                        {% if i+1 < fils|length %}
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">{{fils[i+1].name}}</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#insFpectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-{{fils[i+1].id}}-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            {% if fils[i+1].req_password %}
                                                <p>Password Required</p>
                                            {% else %}
                                            <form  method="POST">
                                                <input class="btn btn-danger btn-sm ml-3" type="submit" name="{{fils[i+1].id}}" value="Download">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div class="card-body">
                                <p style="font-weight:bold;">Distance: {{fils[i+1].dist}} Feet </p>
                                <p style="font-weight:bold;">Format: {{fils[i+1].format}}</p>
                            {% if fils[i+1].description|length > 50 %}
                                <p> {{ fils[i+1].description[0:50] }}...</p>
                            {% else %}
                                <p>{{ fils[i+1].description }}</p>
                            {% endif %}
                            {% if fils[i+1].req_password %}
                                <div align="center">
                                   <img class="card-img-top" src="{{ url_for('static', filename='no_preview_available.jfif') }}">
                                </div>
                             {% elif fils[i+1].format.lower() in "jpg jpeg gif png apng svg bmp bmp ico png ico jfif" %}
                               <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename=fils[i+1].path) }}">
                                </div>
                             {% else %}
                                <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename='no_preview_available.jfif') }}">
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                {% endfor %}
<!--                    <div class="row">-->
<!--                        <div class="card justify-content-center">-->
<!--                            <div class="card-header">-->
<!--                                <div class="row">-->
<!--                                    <div class="col">-->
<!--                                        <h5 style="font-weight:bold;">Photo of Boulder</h5>-->
<!--                                    </div>-->
<!--                                    <div class="col" align="right">-->
<!--                                        <div class="row">-->
<!--                                            <button type="button" class="btn btn-dark btn-sm" href="#insFpectModal"-->
<!--                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"-->
<!--                                                onclick="openInspectModal()">Inspect File</button>-->
<!--                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <p style="font-weight:bold;">Distance: 27 ft. </p>-->
<!--                                <p>A picture taken from the Flagstaff ampitheatre. This was a cold morning in January of-->
<!--                                    2019.</p>-->
<!--                            </div>-->
<!--                            <img class="card-img-top" src="../static/sample-photo.JPG">-->
<!--                        </div>-->

<!--                        <div class="card justify-content-center">-->
<!--                            <div class="card-header">-->
<!--                                <div class="row">-->
<!--                                    <div class="col">-->
<!--                                        <h5 style="font-weight:bold;">New York City Photo</h5>-->
<!--                                    </div>-->
<!--                                    <div class="col" align="right">-->
<!--                                        <div class="row">-->
<!--                                            <button type="button" class="btn btn-dark btn-sm" href="#insFpectModal"-->
<!--                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"-->
<!--                                                onclick="openInspectModal()">Inspect File</button>-->
<!--                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="card-body">-->
<!--                                <p style="font-weight:bold;">Distance: 290 ft. </p>-->
<!--                                <p>A picture from atop a New York skyscraper!</p>-->
<!--                            </div>-->
<!--                            <img class="card-img-top" src="../static/sample-photo-2.JPG">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

            <!-- <div class="col-2">
                <div class="card">
                    <div class="card-header">
                        <div align="center">
                            <img src="../static/sample-profile.png" width="100px" alt="Profile Photo">
                            <br>
                            <h5> User_Name </h5>
                            <hr>
                            <h6>#MyTag!</h6>
                            <button type="button" class="btn btn-dark mr-sm" href="#myModal" data-toggle="modal"
                                data-target=".bd-example-modal-lg" onclick="openModal()">Upload a
                                File</button>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>

    </div>
    <br>
    <hr>
    <br>

    <!--Footer Goes Here-->

    <!-- Upload Modal -->
    <!-- See uploadModal.html -->
    {% include "uploadModal.html" %}

    <!--Inspection Modal-->
    <!-- See inspectionModal.html -->
    {% include "inspectionModal.html" %}

    {% include "footer.html" %}

<!--    Map Code-->
<script>
                //For more information or much of this code, see: https://developers.google.com/maps/documentation/javascript/geolocation
                function initMap()
                {
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: 40.000, lng: -105 },
                        zoom: 14,
                        styles:
                        [
                            { elementType: 'geometry', stylers: [{ color: '#252525' }] },
                            { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                            { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
                            {
                            featureType: 'administrative.locality',
                            elementType: 'labels.text.fill',
                            stylers: [{ color: '#d59563' }]
                            },
                            // {
                            //   featureType: 'poi',
                            //   elementType: 'labels.text.fill',
                            //   stylers: [{color: '#d59563'}]
                            // },
                            {
                            featureType: 'poi.park',
                            elementType: 'geometry',
                            stylers: [{ color: '#0d261a' }]
                            },
                            // {
                            //   featureType: 'poi.park',
                            //   elementType: 'labels.text.fill',
                            //   stylers: [{color: '#6b9a76'}]
                            // },
                            {
                            featureType: 'road',
                            elementType: 'geometry',
                            stylers: [{ color: '#404040' }]
                            },
                            {
                            featureType: 'road',
                            elementType: 'geometry.stroke',
                            stylers: [{ color: '#212a37' }]
                            },
                            {
                            featureType: 'road',
                            elementType: 'labels.text.fill',
                            stylers: [{ color: '#9ca5b3' }]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'geometry',
                            stylers: [{ color: '#505050' }]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'geometry.stroke',
                            stylers: [{ color: '#1f2835' }]
                            },
                            {
                            featureType: 'road.highway',
                            elementType: 'labels.text.fill',
                            stylers: [{ color: '#f3d19c' }]
                            },
                            {
                            featureType: 'transit',
                            elementType: 'geometry',
                            stylers: [{ color: '#2f3948' }]
                            },
                            {
                            featureType: 'transit.station',
                            elementType: 'labels.text.fill',
                            stylers: [{ color: '#d59563' }]
                            },
                            {
                            featureType: 'water',
                            elementType: 'geometry',
                            stylers: [{ color: '#17263c' }]
                            },
                            {
                            featureType: 'water',
                            elementType: 'labels.text.fill',
                            stylers: [{ color: '#515c6d' }]
                            },
                            {
                            featureType: 'water',
                            elementType: 'labels.text.stroke',
                            stylers: [{ color: '#17263c' }]
                            }
                        ]
                    });
                    infoWindow = new google.maps.InfoWindow;

                    {% for fil in fils %}
                    var mkr_{{fil.id}} = new google.maps.Marker({
                        map: map,
                        position: { lat: {{fil.lat}}, lng: {{fil.long}} }
                        //title: {{fil.name}}
                    });
                    {% endfor %}

                    if (navigator.geolocation)
                    {
                        navigator.geolocation.getCurrentPosition(function (position)
                        {
                            document.getElementById("gps_lat_form").value = position.coords.latitude;
                            document.getElementById("gps_long_form").value = position.coords.longitude;
                            var pos = { lat: position.coords.latitude, lng: position.coords.longitude };
                            // var cirlcle = new google.maps.Circle({
                            //     map: map,
                            //     center: pos,
                            //     radius: 1000 //In meters
                            // });

                            infoWindow.setPosition(pos);
                            infoWindow.setContent('Location Found');
                            infoWindow.open(map);
                            map.setCenter(pos);
                        }, function ()
                        {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    }
                    else
                    {
                        //Browser does not support geolocation
                        handleLocationError(false, infoWindow, map.getCenter());
                    }
                    //map.clear();
                }
                </script>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvmNYLkuljgCv9esBcRGSafTWXcVLB7zE&callback=initMap">
                </script>
</body>

</html>