<!DOCTYPE html>
<html lang="en">

<head>
    <title>Free Drop</title>
    {% include "header.html" %}
</head>
<!-- <style>
    body { background: #414141 !important; }
</style> -->

<body onload="on_load()">
    {% include "./navbar.html" %}
    
    <br>
    <!-- A Side By Side Layout -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-5">
                <div id="map"></div>
                <!-- For the scripts associated with this, see the bottom of the file -->
            </div>
            <div class="col-7">
                <div class="row">
                    <form class="form-inline" method="POST" enctype="multipart/form-data">
                        <div>
                            {% if searchstr != '' %}
                            <input type="text" class="form-control" id="inputFileSearch" name="searchTextBox" style="width:450px;"
                                aria-describedby="fileSearchHelp" placeholder="{{ searchstr }}" value="">
                            {% else %}
                            <input type="text" class="form-control ml-3" id="inputFileSearch" name="searchTextBox" style="width:450px;"
                                aria-describedby="fileSearchHelp" placeholder="Search by keyword or @user" value="">
                            {% endif %}
                            <input type="submit" class="btn btn-primary ml-1" style="background-color:#0275d8;"
                                value="Search" name="search_post" id="searchFilesBtn">

                            <!--Just a reference for file POST requests-->
                            <!-- <input class="btn btn-danger float-left" type="submit" name="upload_post" value="Upload" id="submitFileBtn"> -->
                        </div>
                    </form>
                    {% if signed_in %}
                    <button type="button" class="btn btn-danger ml-2" href="#uploadModal" data-toggle="modal"
                        data-target=".bd-upload-modal-lg" onclick="openUploadModal()">
                    
                        Upload a File</button>
                    {% else %}
                    <button type="button" class="btn btn-danger ml-2" href="#uploadModal" data-toggle="modal"
                        data-target=".bd-upload-modal-lg" onclick="openUploadModal()" disabled>
                        Log In to Upload a File</button>
                    {% endif %}
                </div>

                <br>

                <div class="card-deck d-flex flex-column" style="margin-left:2px; margin-right:10px;">
                    {% for i in range(0, fils |length , 2) %}
                    <!--The left side of the card stack-->
                    <div class="row">
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">{{fils[i].name}}</h5>
                                        <small>Posted by <b>{{fils[i].creator}}</b></small>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-{{fils[i].id}}-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            {% if fils[i].req_password %}
                                            <button type="button" class="btn btn-warning btn-sm ml-2 "
                                                href="#inspectModal" data-toggle="modal"
                                                data-target=".bd-inspect-modal-{{fils[i].id}}-lg"
                                                onclick="openInspectModal()">Encrypted</button>
                                            {% else %}
                                            <form method="POST">
                                                <input class="btn btn-danger btn-sm ml-2" type="submit"
                                                    name="{{fils[i].id}}" value="Download">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: {{fils[i].dist}} Feet </p>
                                <p style="font-weight:bold;">Format: {{fils[i].format}}</p>
                                {% if fils[i].description|length > 50 %}
                                <p> {{ fils[i].description[0:50] }}...</p>
                                {% else %}
                                <p>{{ fils[i].description }}</p>
                                {% endif %}
                                {% if fils[i].req_password %}
                                <div align="center">
                                    <img class="card-img-top"
                                        src="{{ url_for('static', filename='freedrop-lock.png') }}">
                                </div>
                                {% elif fils[i].format.lower() in "jpg jpeg gif png apng svg bmp bmp ico png ico jfif"%}
                                <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename=fils[i].path) }}">
                                </div>
                                {% else %}
                                <div align="center">
                                    <img class="card-img-top"
                                        src="{{ url_for('static', filename='freedrop-lock.png') }}">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- Check to hide if is not not an even number of cards -->
                        {% if i+1 < fils|length %}
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">{{fils[i+1].name}}</h5>
                                        <small>Posted by <b>{{fils[i+1].creator}}</b></small>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-{{fils[i+1].id}}-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            {% if fils[i+1].req_password %}
                                            <button type="button" class="btn btn-warning btn-sm ml-2"
                                                href="#inspectModal" data-toggle="modal"
                                                data-target=".bd-inspect-modal-{{fils[i+1].id}}-lg"
                                                onclick="openInspectModal()">Encrypted</button>
                                            {% else %}
                                            <form method="POST">
                                                <input class="btn btn-danger btn-sm ml-2" type="submit"
                                                    name="{{fils[i+1].id}}" value="Download">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: {{fils[i+1].dist}} Feet </p>
                                <p style="font-weight:bold;">Format: {{fils[i+1].format}}</p>
                                {% if fils[i+1].description|length > 50 %}
                                <p> {{ fils[i+1].description[0:50] }}...</p>
                                {% else %}
                                <p>{{ fils[i+1].description }}</p>
                                {% endif %}
                                {% if fils[i+1].req_password %}
                                <div align="center">
                                    <img class="card-img-top"
                                        src="{{ url_for('static', filename='freedrop-lock.png') }}" alt="Could not load file...">
                                </div>
                                {% elif fils[i+1].format.lower() in "jpg jpeg gif png apng svg bmp bmp ico png ico jfif" %}
                                <div align="center">
                                    <img class="card-img-top" src="{{ url_for('static', filename=fils[i+1].path) }}">
                                </div>
                                {% else %}
                                <div align="center">
                                    <img class="card-img-top"
                                        src="{{ url_for('static', filename='freedrop-lock.png') }}">
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endif %}
                    {% endfor %}
                </div>
                <br>
                <hr class="hr-custom">
                <br>
                <div align="center">
                    <h3>Oh no!</h3>
                    <h5>There are no more available files based on your search criteria and location.</h5>
                </div>
            </div>

        </div>
        <br>
        <hr>
        <br>

        <!--Footer Goes Here-->

        <!-- Upload Modal -->
        <!-- See uploadModal.html -->
        {% include "uploadModal.html" %}

        <!--Inspection Modal-->
        <!-- See inspectionModal.html -->
        {% include "inspectionModal.html" %}

        <!--    Map Code-->
        <script>
            //For more information or much of this code, see: https://developers.google.com/maps/documentation/javascript/geolocation
            function initMap()
            {
                map = new google.maps.Map(document.getElementById('map'), {
                    center: { lat: 40.000, lng: -105 },
                    zoom: 14,
                    styles:
                        [
                            { elementType: 'geometry', stylers: [{ color: '#252525' }] },
                            { elementType: 'labels.text.stroke', stylers: [{ color: '#242f3e' }] },
                            { elementType: 'labels.text.fill', stylers: [{ color: '#746855' }] },
                            {
                                featureType: 'administrative.locality',
                                elementType: 'labels.text.fill',
                                stylers: [{ color: '#d59563' }]
                            },
                            // {
                            //   featureType: 'poi',
                            //   elementType: 'labels.text.fill',
                            //   stylers: [{color: '#d59563'}]
                            // },
                            {
                                featureType: 'poi.park',
                                elementType: 'geometry',
                                stylers: [{ color: '#0d261a' }]
                            },
                            // {
                            //   featureType: 'poi.park',
                            //   elementType: 'labels.text.fill',
                            //   stylers: [{color: '#6b9a76'}]
                            // },
                            {
                                featureType: 'road',
                                elementType: 'geometry',
                                stylers: [{ color: '#404040' }]
                            },
                            {
                                featureType: 'road',
                                elementType: 'geometry.stroke',
                                stylers: [{ color: '#212a37' }]
                            },
                            {
                                featureType: 'road',
                                elementType: 'labels.text.fill',
                                stylers: [{ color: '#9ca5b3' }]
                            },
                            {
                                featureType: 'road.highway',
                                elementType: 'geometry',
                                stylers: [{ color: '#505050' }]
                            },
                            {
                                featureType: 'road.highway',
                                elementType: 'geometry.stroke',
                                stylers: [{ color: '#1f2835' }]
                            },
                            {
                                featureType: 'road.highway',
                                elementType: 'labels.text.fill',
                                stylers: [{ color: '#f3d19c' }]
                            },
                            {
                                featureType: 'transit',
                                elementType: 'geometry',
                                stylers: [{ color: '#2f3948' }]
                            },
                            {
                                featureType: 'transit.station',
                                elementType: 'labels.text.fill',
                                stylers: [{ color: '#d59563' }]
                            },
                            {
                                featureType: 'water',
                                elementType: 'geometry',
                                stylers: [{ color: '#17263c' }]
                            },
                            {
                                featureType: 'water',
                                elementType: 'labels.text.fill',
                                stylers: [{ color: '#515c6d' }]
                            },
                            {
                                featureType: 'water',
                                elementType: 'labels.text.stroke',
                                stylers: [{ color: '#17263c' }]
                            }
                        ]
                });
                infoWindow = new google.maps.InfoWindow;

                {% for fil in fils %}
                var mkr_{{ fil.id }} = new google.maps.Marker({
                map: map,
                position: { lat: {{ fil.lat }}, lng: {{ fil.long }} }
                                //title: {{fil.name}}
                            });
            {% endfor %}

            if (navigator.geolocation)
            {
                navigator.geolocation.getCurrentPosition(function (position)
                {
                    document.getElementById("gps_lat_form").value = position.coords.latitude;
                    document.getElementById("gps_long_form").value = position.coords.longitude;
                    var pos = { lat: position.coords.latitude, lng: position.coords.longitude };
                    // var cirlcle = new google.maps.Circle({
                    //     map: map,
                    //     center: pos,
                    //     radius: 1000 //In meters
                    // });

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('<p style="color:#000;">Your Location</p>');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function ()
                {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            }
            else
            {
                //Browser does not support geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
                            //map.clear();
                        }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvmNYLkuljgCv9esBcRGSafTWXcVLB7zE&callback=initMap">
            </script>
    </div>
    <br/>
    {% include "footer.html" %}
</body>

</html>