<!--<html lang="en">-->

<!--<head>-->
<!--    <title>Free Drop</title>-->
<!--    &lt;!&ndash;Bootstrap&ndash;&gt;-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
<!--    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">-->

<!--    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"-->
<!--        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"-->
<!--        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"-->
<!--        crossorigin="anonymous"></script>-->
<!--    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>-->
<!--</head>-->

<!--<body onload="javascript:cookie_handle()">-->
    <nav class="navbar navbar-expand-lg justiy-content-between navbar-custom">
        <a class="navbar-brand" href="./about"><img src="{{ url_for('static', filename='freedrop-logo.png') }}" height="35" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="t01">Home<span class="sr-only">(current></span></a>
                </li>
                {% if signed_in %}
                <li class="nav-item">
                    <a class="nav-link" href="/user" style="t01">Profile<span class="sr-only">(current></span></a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/register" style="t01">Register<span class="sr-only">(current></span></a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/about" style="t01">About<span class="sr-only">(current></span></a>
                </li>
<!--                Relinked to logo-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="./about">About Us<span class="sr-only">(current></span></a>-->
<!--                </li>-->
            </ul>
            {% if signed_in %}
            <h3 class="mr-3">{{ cur_user }}</h3>
            <form class="form-inline" method="POST">
                <input class="btn btn-dark" type="submit" name="sign_out" value="Sign Out">
            </form>
            {% else %}
            <form class="form-inline" method="POST">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username" name="username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password">
                <input class="btn btn-dark" id="signInBtn" type="submit" name="sign_in" value="Sign In">
                <!-- <a class="btn btn-dark ml-2" href="/regiser">Register</a> -->
            </form>
            {% endif %}
        </div>
    </nav>
<!--</body>-->

<!--</html>-->
