<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Form</title>
            <!--Bootstrap-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link href="../static/stylesheet.css" rel="stylesheet">
            <script type="text/javascript">
                function validate_pass(){
                    var lowerCaseLetters = /(?=.*[a-z])/g;
                    var upperCaseLetters = /(?=.*[A-Z])/g;
                    var numbers = /(?=.*\d)/g;
                    var minLength = 8;
                    var error_lower=false;
                    var error_upper=false;
                    var error_digit=false;
                    var error_min_length=false;
                    var error_match=false;
                    if (document.getElementById("thePass1").value.match(lowerCaseLetters)) {
                        error_lower=true;
                        document.getElementById("lower").innerHTML="";
                    }else{
                        document.getElementById("lower").innerHTML="At least one lower case letter required. ";
                    }
                    if (document.getElementById("thePass1").value.match(upperCaseLetters)) {
                        error_upper=true;
                        document.getElementById("upper").innerHTML="";
                    }else{
                        document.getElementById("upper").innerHTML="At least one upper case letter required. ";
                    }
                    
                    if (document.getElementById("thePass1").value.match(numbers)) {
                        error_digit=true;
                        document.getElementById("digit").innerHTML="";
                    }else{
                        document.getElementById("digit").innerHTML="At least one digit required. ";
                    }
                    if (document.getElementById("thePass1").value.length >= minLength) {
                        error_min_length=true;
                        document.getElementById("minlength").innerHTML="";
                    }else{
                        document.getElementById("minlength").innerHTML="Password should be at least 8 characters. ";
                    }
                    if (document.getElementById("thePass1").value == document.getElementById("thePass2").value) {
                        error_match=true;
                        document.getElementById("match").innerHTML="";
                    }else{
                        document.getElementById("match").innerHTML="Two passwords are not the same. ";
                    }
                    if (error_match && error_digit && error_upper && error_lower && error_min_length) {
                        return true;
                    }else{
                        $("#modal_for_pass_error").modal();
                        return false;
                    }
                    

                }
            </script>
            
        </head>
        <body>
            <nav class="navbar navbar-expand-lg justiy-content-between navbar-custom">
        <a class="navbar-brand" href="#"><img src="../static/freedrop-logo.png" height="35" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./upload.html" style="t01">Upload<span class="sr-only">(current></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./download.html" style="navbar-text">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./about.html">About Us<span class="sr-only">(current></span></a>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                <button class="btn btn-dark my-2 my-sm-0" type="login">Sign In</button>
            </form>
        </div>
    </nav>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        Something goes here, about us paragraph place holder
                    </div>
                    <div class="col">
                    <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">Sign Up for Uploading Your Files</h5>
                    <form action="some_url_for_sign_up" onsubmit="return validate_pass()" method="post"><!-- Url need update -->
                        <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Enter Username" required="required">
                        </div>
                        <div class="form-group">
                        <label for="thePass1">Password</label>
                        <input type="password" class="form-control" id="thePass1" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                        <label for="thePass2">Confirm Your Password</label>
                        <input type="password" class="form-control" id="thePass2" placeholder="Confirm Your Password" required="required">
                        </div>
                        <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="termCheck" required="required">
                        <label class="form-check-label" for="termCheck">By checking this box, you agree to our <a href="#" data-toggle="modal" data-target="#modal_for_terms">Terms</a> and <a href="#" data-toggle="modal" data-target="#modal_for_policy">Data Policy.</a> </label>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary">Sign up</button>
                    </form>
                    </div>
                    </div>
                    </div>
                </div>
                
            </div>
            <div class="modal" id="modal_for_terms">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Terms</h4>
                </div>
                <div class="modal-body">
                    Thanks for clicking on me for Terms. 
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
            </div>
            <div class="modal" id="modal_for_policy">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Data Policy</h4>
                </div>
                <div class="modal-body">
                    Thanks for clicking on me for Data Policy. 
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
            </div>
            <div class="modal" id="modal_for_pass_error">
                <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title">Suggestions to a more secure password. </h4>
                </div>
                <div class="modal-body" id="modal_error">
                    The password contains following issue(s):
                    <br>
                    <div id="lower"></div>
                    <div id="upper"></div>
                    <div id="digit"></div>
                    <div id="minlength"></div>
                    <div id="match"></div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                </div>
                </div>
            </div>
        </body>
    </html>
