<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>Form</title>
            <!--Bootstrap-->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
            <link href="stylesheet.css" rel="stylesheet">
        </head>
        <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark justiy-content-between">
                <a class="navbar-brand" href="#">LOGO<!--<img src="freedrop-logo.png" height="50" alt="LOGO">--></a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="t01">Upload<span class="sr-only">(current></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="navbar-text">Download</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us<span class="sr-only">(current></span></a>
                        </li>
                    </ul>
                    <form class = "form-inline">
                        <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
                        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
                        <button class="btn btn-primary my-2 my-sm-0" type="login">Sign In</button>
                    </form>
                </div>
            </nav>
            <br>
            <div class="container-fluid w-80">
                
            </div>
        </body>
    </html>