<div class="modal fade bd-upload-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        id="uploadModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="modalHead" style="font-weight: bold;">Upload Your File</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <h6>File Name:</h6>
                            <div class="row">
                                <div class="col">
                                    <input type="text" class="form-control" id="inputFileName" name="inputFileName"
                                        aria-describedby="fileNameHelp" placeholder="File Name">
                                    <small id="fileUploadHelp" class="form-text text-muted">This name will help
                                        others find your
                                        file.</small>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <input type="file" clas="form-control-file" id="local_image" name="input_file">
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="form-group">
                            <h6>Description:</h6>
                            <textarea class="form-control" id="inputFileDescription" rows="3" name="inputFileDescription"
                                placeholder="A little bit about the file you are uploading. This will help others ensure they have the correct file."></textarea>
                        </div>

                        <br>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <h6>Visible Distance</h6>
                                </div>
                                <div class="col text-right" id="uploadDistLabel">
                                    <h6>1 Mile</h6>
                                </div>
                            </div>

                            <input type="range" id="visibleDistanceSlider" class="custom-range" min="0" max="100" name="visibleDistance"
                                step="0.5" onclick="distanceSlid('uploadDistLabel')">
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <h6>Time Online</h6>
                                </div>
                                <div class="col text-right">
                                    <h6 id="uploadTimeLabel">7 Days</h6>
                                </div>
                            </div>

                            <input type="range" id="visibleTimeSlider" class="custom-range" min="0" max="100"  name="visibleTime"
                                step="0.5">
                        </div>

                        <br>

                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <h6> File Password (Optional):</h6>
                                    <input type="text" class="form-control" id="inputFilePassword" name="inputFilePassword"
                                        aria-describedby="filePasswordHelp" placeholder="File Password">
                                    <small id="filePasswordHelp" class="form-text text-muted"> Make your file
                                        private by adding a password.</small>
                                </div>
                                <div class="col">
                                    <h6> Your Password:</h6>
                                    <input type="password" class="form-control" id="inputAcctPassword" name="filePassword"
                                        aria-describedby="fileAcctHelp" placeholder="Account Password">
                                    <small id="AcctPasswordHelp" class="form-text text-muted">
                                        Enter your account password.</small>
                                </div>
                            </div>
                        </div>

                        <br>

                        <input type="hidden" name="gps_lat" id="gps_lat_form">
                        <input type="hidden" name="gps_long" id="gps_long_form">

                        <input class="btn btn-danger float-left" type="submit" name="upload_post" value="Upload" id="submitFileBtn">
                    </form>
                </div>
            </div>
        </div>
    </div>