<!DOCTYPE html>
<html lang="en">

<head>
    <title>Form</title>
    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='stylesheet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='upload-stylesheet.css') }}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='functions.js') }}"></script>

    <!--Google Maps API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
    async defer></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg justiy-content-between navbar-custom">
        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='freedrop-logo.png') }}" height="35" alt="LOGO"></a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="upload" style="t01">Upload<span class="sr-only">(current></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="download" style="navbar-text">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About Us<span class="sr-only">(current></span></a>
                </li>
            </ul>
            {% if signed_in %}
            <h2>Hello, {{ cur_user }}.</h2>
            <form class="form-inline" method="POST">
                <input class="btn btn-dark" type="submit" name="sign_out" value="Sign Out">
            </form>
            {% else %}
            <form class="form-inline" method="POST">
                <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username" name="username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password" name="password">
                <input class="btn btn-dark" type="submit" name="sign_in" value="Sign In">
            </form>
            {% endif %}
        </div>
    </nav>
    <br>

    <!-- Going to try this as a modal here instead!-->

    <div class="container w-80">
        <!------------------------------------------------------------------------------->
        <!-- Going to try this as a modal here instead!-->
        <button type="button" class="btn btn-primary" href="#myModal" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="openModal()">Upload
            File</button>

        <!-- Geolocation Stuff-->
        <h5>Your Location: </h5>
        <p id = "locationP">--here--</p>
        <button onclick="getLocation()"></button>
        <script>
            var x = document.getElementById("locationP");

            function getLocation() {
                x.innerHTML="hi";
              if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
              } else { 
                x.innerHTML = "Geolocation is not supported by this browser.";
              }
            }
            
            function showPosition(position) {
              x.innerHTML = "Latitude: " + position.coords.latitude + 
              "<br>Longitude: " + position.coords.longitude;
            }
            </script>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
            id = "myModal" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">

                <div class="modal-content">
                    <div class = "modal-header">
                        <h1 id="modalHead">File Upload</h1>
                    </div>
                    <div class="modal-body">
                        <form method="POST">
                            <div class="form-group">
                                <h6>File Name:</h6>
                                <div class="row">
                                    <div class="col">
                                        <input type="text" class="form-control" id="inputFileName" name="inputFileName"
                                            aria-describedby="fileNameHelp" placeholder="File Name">
                                        <small id="fileUploadHelp" class="form-text text-muted">This name will help
                                            others find your
                                            file.</small>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="file" clas="form-control-file" id="local_image">
                                        </div>
                                    </div>
                                </div>

                            </div>


                            <div class="form-group">
                                <h6>Description:</h6>
                                <textarea class="form-control" id="inputFileDescription" rows="3" name="inputFileDescription
                                    placeholder="A little bit about the file you are uploading. This will help others ensure they have the correct file."></textarea>
                            </div>

                            <br>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <h6>Visible Distance</h6>
                                    </div>
                                    <div class="col text-right" id="uploadDistLabel">
                                        <h6>1 Mile</h6>
                                    </div>
                                </div>

                                <input type="range" id="visibleDistanceSlider" class="custom-range" min="0" max="100" name="visibleDistance"
                                    step="0.5" onclick="distanceSlid('uploadDistLabel')">
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <h6>Time Online</h6>
                                    </div>
                                    <div class="col text-right">
                                        <h6 id="uploadTimeLabel">7 Days</h6>
                                    </div>
                                </div>

                                <input type="range" id="visibleTimeSlider" class="custom-range" min="0" max="100"  name="visibleTime"
                                    step="0.5">
                            </div>

                            <br>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col">
                                        <h6> File Password (Optional):</h6>
                                        <input type="text" class="form-control" id="inputFilePassword" name="inputFilePassword"
                                            aria-describedby="filePasswordHelp" placeholder="File Password">
                                        <small id="filePasswordHelp" class="form-text text-muted"> Make your file
                                            private by adding a password.</small>
                                    </div>
                                    <div class="col">
                                        <h6> Your Password:</h6>
                                        <input type="password" class="form-control" id="inputAcctPassword" name="filePassword"
                                            aria-describedby="fileAcctHelp" placeholder="Account Password">
                                        <small id="AcctPasswordHelp" class="form-text text-muted">
                                            Enter your account password.</small>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <button type="button" class="btn btn-primary float-left" id = "submitFileBtn">Upload</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------->

        <!-- <div class="page-header">
        <h1> Upload A File</h1>
    </div> -->
        <!--Upload Main Form-->
        <!-- <form>
            <div class="form-group">
                <label for="inputFileName">
                    <h6>File Name:</h6>
                </label>
                <input type="text" class="form-control" id="inputFileName" aria-describedby="fileNameHelp"
                    placeholder="File Name">
                <small id="fileUploadHelp" class="form-text text-muted">This name will help others find your
                    file.</small>
            </div>
            <div class="form-group">
                <input type="file" clas="form-control-file" id="local_image">
            </div>
            <div class="form-group">
                <label for="inputFileDescription">
                    <h6>Description:</h6>
                </label>
                <textarea class="form-control" id="inputFileDescription" rows="3"
                    placeholder="A little bit about the file you are uploading. This will help others ensure they have the correct file."></textarea>
            </div>
            <div class="form-group">
                <label for="visibleDistanceSlider">
                    <h6>Visible Distance</h6>
                </label>
                <input type="range" id="visibleDistanceSlider" class="custom-range" min="0" max="100" step="0.5"
                    onclick="distanceSlid()">
                <label for="visibleDistanceSlider" id="visibleDistanceLabel">
                    <h5>1000 Feet</h5>
                </label>
            </div>
        </form> -->
    </div>
</body>
</html>