<!DOCTYPE html>
<html lang="en">

<head>
    <title>Free Drop</title>
    {% include "header.html" %}
</head>

<body onload="on_load()">
    {% include "./navbar.html" %}
    <br>

    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <div class="card">
                    <div class="card-header">
                        <div class="row justify-content-between">
                            <h3 class="ml-2" style="font-weight: bold;">{{ cur_user }}</h3>
                            <!-- <button class="btn" type="button float-right" href="#editProfileModal" toggle="modal" data-target=".bd-editProfile-modal-lg" onclick="openEditProfileModal" >
                                <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M11.293 1.293a1 1 0 011.414 0l2 2a1 1 0 010 1.414l-9 9a1 1 0 01-.39.242l-3 1a1 1 0 01-1.266-1.265l1-3a1 1 0 01.242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 00.5.5H4v.5a.5.5 0 00.5.5H5v.5a.5.5 0 00.5.5H6v-1.5a.5.5 0 00-.5-.5H5v-.5a.5.5 0 00-.5-.5H3z"
                                        clip-rule="evenodd" />
                                </svg>
                            </button> -->
                        </div>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <div class="circle">
                                    <img class="img-circle" src="{{ url_for('static', filename='sample-photo.jpg') }}" alt="ID Photo"
                                        onload='fixAspect(this);'>
                                </div>
                            </div>
                            <div class="col">
                                <h6 style="font-weight:bold;">Files Uploaded:</h6>
                                <p id="userNumFilesUploaded"> Test</p>
                                <h6 style="font-weight:bold;">Bio:</h6>
                                <p id="userBio">This is a really cool idea for an app! How fun is it to have the ability
                                    to drop files places. This is also a fun test bio too.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-5">
                <!--Map-->
                <div id="map" style="height:350px"></div>
                <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvmNYLkuljgCv9esBcRGSafTWXcVLB7zE&callback=initMap">
                    </script>
                <hr>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <h3 align="center">Uploaded Files</h3>
                <hr class="hr-custom">
                <div class="card-deck d-flex flex-column" style="margin-left:2px; margin-right:10px;">

                    <div class="row">
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">Sample_File</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: X Feet </p>
                                <p>First 50 chars of description than a ...</p>
                            </div>
                        </div>

                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">Fun Text</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: 187 ft. </p>
                                <p>To be, or not to be, that is the question:
                                    Whether 'tis nobler in the mind to suffer
                                    The slings and arrows of outrageous fortune,
                                    Or to take arms against a sea of troubles
                                    And by opposing end them. To die—to sleep,
                                    No more; and by a sleep to say we end
                                    The heart-ache and the thousand natural shocks
                                    That flesh is heir to: 'tis a consummation
                                    Devoutly to be wish'd. </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">Photo of Boulder</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: 27 ft. </p>
                                <p>A picture taken from the Flagstaff ampitheatre. This was a cold morning in January of
                                    2019.</p>
                            </div>
                            <img class="card-img-top" src="../static/sample-photo.JPG">
                        </div>

                        <div class="card justify-content-center">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h5 style="font-weight:bold;">New York City Photo</h5>
                                    </div>
                                    <div class="col" align="right">
                                        <div class="row">
                                            <button type="button" class="btn btn-dark btn-sm" href="#inspectModal"
                                                data-toggle="modal" data-target=".bd-inspect-modal-lg"
                                                onclick="openInspectModal()">Inspect File</button>
                                            <a class="btn btn-danger btn-sm ml-3" href="#">Download</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p style="font-weight:bold;">Distance: 290 ft. </p>
                                <p>A picture from atop a New York skyscraper!</p>
                            </div>
                            <img class="card-img-top" src="../static/sample-photo-2.JPG">
                        </div>
                    </div>
                </div>
            </div>

        <div class="modal fade bd-editProfile-modal-lg" tabindex="-1" role="dialouge" aria-labledby="myLargeModalLabel" id="editProfileModal" aria-hidden="true">
            <div class="modal-dialoug modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="modalHead" style="font-weight: bold;">Edit Profile</h1>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
</body>